<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="cos-isos-foreach.ZPM">
    <Module>
      <Name>cos-isos-foreach</Name>
      <Version>0.0.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ZZFOREACH.INC"/>
      <Resource Name="FOREACHMACRO.INC"/>
    </Module>
  </Document>
</Export>
